<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1>
    <div class="row">
        <!-- .resume-right -->
        <div class="col-md-6">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>React</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>PHP</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>JavaScript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>ES6</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>

                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Node Js</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Blockchain</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Frameworks</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Symfony</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title"><span>Laravel</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>Adonis JS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>JQuery</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Databases</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title"><span>MySQL</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title"><span>PostgreSQL</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title"><span>MongoDB</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title"><span>Firebase</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <div class="title_content" style="float: none;">
                <div class="text_content">Developer tools</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Jira</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>Docker</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Git</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>Github/Gitlab</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>PhpStorm</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
            </div>
        </div>
        <!-- /.resume-right -->

        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Full-Stack Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2017 - now</span>
                    </h5>
                    <h6><span class="fa fa-briefcase"></span> Concise Software</h6>
                    <p>Member of <strong>blockchain</strong> developers team (DApps developer). React and Node JS
                        passionate.</p>
                </li>
                <li>
                    <h5>Full-Stack Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2017</span>
                    </h5>
                    <h6><span class="fa fa-briefcase"></span> Isoft</h6>
                    <p>Customer needs analysis, creating custom software for clients, managing a small team of
                        developers, software architecture, conducting training in IT.</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br/>
            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Master of Engineering <span class="duration"><i
                            class="fa fa-calendar color"></i> 2013 - 2015</span></h5>
                    <h6><span class="fa fa-book"></span> Politechnika Rzeszowska im. Ignacego Łukasiewiczay</h6>
                </li>
                <li>
                    <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2013</span>
                    </h5>
                    <h6><span class="fa fa-book"></span> Politechnika Rzeszowska im. Ignacego Łukasiewiczay</h6>
                </li>
                <li>
                    <h5>IT specialist <span class="duration"><i class="fa fa-calendar color"></i> 2004 - 2009</span>
                    </h5>
                    <h6><span class="fa fa-book"></span> Technical School of Electronics in Rzeszówy</h6>
                </li>
            </ul>

            <!-- /.attributes -->

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Language Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>English</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="10%">
                    <div class="skillbar-title"><span>German</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">10%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="10%">
                    <div class="skillbar-title"><span>French</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">10%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="15%">
                    <div class="skillbar-title"><span>Portuguese</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">15%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>

</div>
<!-- End .resume -->
