<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="react symfony others">All</span></li>
            <li><span class="filter" data-filter="react">React</span></li>
            <li><span class="filter" data-filter="symfony">Symfony</span></li>
            <li><span class="filter" data-filter="others">Others</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio react" data-cat="react">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/react.png" rel="portfolio" title="My react starter pack. Based on PWA, served by nginx docker. https://github.com/dmarczydlo/react-starter">
                        <img src="images/portfolio/react.png" alt="React-starter" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">React-starter</span>
                                <span class="text-category">React</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio react" data-cat="react">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/docker-logs1.png" rel="portfolio" title="Open source application to display information about dockers status. Multi servers are
                    available. https://github.com/dmarczydlo/docker-logger">
                        <img src="images/portfolio/docker-logs1.png" alt="Docker Logger" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">Docker Logger</span>
                                <span class="text-category">React</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <!-- .portfolio -->
            <div class="portfolio react" data-cat="react">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/github-projects.png" rel="portfolio" title="Github react component based on graphql. https://github.com/dmarczydlo/docker-logger">
                        <img src="images/portfolio/github-projects.png" alt="Github-component" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">Github-component</span>
                                <span class="text-category">React</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio symfony" data-cat="symfony">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/speedplan.png" rel="portfolio" title="Speed Plan is a platform for freight forwarding. It allows to control (with status and reports) the current status of the order.">
                        <img src="images/portfolio/speedplan.png" alt="Github-component" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">Speed plan</span>
                                <span class="text-category">Symfony</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio symfony" data-cat="symfony">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/clpost.png" rel="portfolio" title="Platform CLpost.eu is used by store Exclusivum.com to delivering parcels to Ukraine. http://clpost.eu">
                        <img src="images/portfolio/clpost.png" alt="Github-component" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Speed plan</a>
                                <span class="text-category">Symfony</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio others" data-cat="others">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/ocentv.png" rel="portfolio" title="Ocen.tv is a service allows you to record and analysis speaker’s. http://ocen.tv">
                        <img src="images/portfolio/ocentv.png" alt="Github-component" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">Ocen.tv</span>
                                <span class="text-category">Others</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio others" data-cat="others">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/exclusivum.png" rel="portfolio" title="Store campaigns for Ukrainian customers. http://exclusivum.com">
                        <img src="images/portfolio/exclusivum.png" alt="Github-component" />
                        <div class="label">
                            <div class="label-text">
                                <span class="text-title">Exclusivum.com</span>
                                <span class="text-category">Others</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
