<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Daniel Marczydło</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Daniel Marczydlo</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">July 18</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Rzeszów , PL</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">daniel.marczydlo@gmail.com</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">marczydlo.pl</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            I'm Full-Stack Web developer. 'Freaky coder'.  Determined and open to new knowledge and experience e.g: React, Blockchain. DApps developer.
        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
             Passionate about football and volleyball. A Real Madrid fan from a child
        </p>

        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            My motto is <strong>"New experiences..."</strong>
        </p>


    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fab fa-react"></i></div>
                <div class="service-detail">
                    <h6>Progressive Web Apps</h6>
                    <p>I create modern apps based on react as static pages.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="far fa-file-code"></i></div>
                <div class="service-detail">
                    <h6>Web Platforms</h6>
                    <p>Web services for business based on Nodejs or PHP.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-file-excel"></i></div>
                <div class="service-detail">
                    <h6>Excel expert </h6>
                    <p>Excel expert with experiences.</p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->

<div class="clear"></div>
</div>
<!-- End .profile -->
